body {
  background-image: url("fiesta4.jpg");
}

h1 {
  color: rgba(0, 0, 255, 0.7);
  font-family: georgia;
  text-align: center;
  font-size: 180%;
}

form {
  display: block;
  margin-top: 0em;
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 255, 0.3);
  padding: 10px 20px;
  text-align: center;
  font-size: 130%;
  cursor: pointer;
}

p {
  text-align: left;
}

h6 {
 margin: 0%;
}

textarea,
select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=button] {
  width: 45%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 100%;
  display: inline-block;

}

input[type=button]:hover {
  background-color: #45a049;
}
